/* CSS declarations go here */

.artist { vertical-align: middle; margin-bottom:20px; }

.name { width:200px; display:inline-block; }

.vote { font-size:1.5em; }

.blue { color:blue;}

.plus, .moins { font-size:1.5em;width:40px;height:40px; margin-right:3px;display:inline-block; }

.photo { height:60px;margin-left:10px;vertical-align: bottom; }


form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-artist input {
  box-sizing: border-box;
  padding: 4px 0;
  margin-left:5px;
  width:250px;
  border: 1px solid gray;
}

.new-artist input:focus{
  outline: 0;
}

.inline { display:inline-block; }